.board-title-container {
  display: flex;
  padding-inline-start: 23px;

  h1.board-title {
    padding-inline-end: 10px;
    @include title-text;
  }

  .title-input {
    @include title-text-input;
  }

  .icon-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-start: 5px;
    & > * {
      @include heading-icon;
      color: #676879;
    }
  }

  .title-input-container {
    position: relative;
  }
  .emoji-picker-input {
    @include heading-icon;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .board-fav-icon-container {
    &:active {
      transform: scale(0.95) translate3d(0, 0, 0);
    }
  }
}
