.groups-container {
  position: relative;
  font-family: $sub-text-font-family;
  font-size: rem(14px);

  font-weight: 400;

  .column-header {
    cursor: grab;
    text-transform: capitalize;
  }
}
