// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$primary-color: #0073ea;
$primary-text-color: #323338;
$sidenav-bg: #292f4c;
$secondary-text-color: #676879;
$layout-border-color: #d0d4e4;
$sidenav-links-hover: #10131e;
$sidenav-active-link: rgba(255, 255, 255, 0.3);
$worspace-menu-bg: #f6f7fb;
$group-border-color: #d0d4e4;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$title-font-family: Poppins, Roboto, Rubik, Noto Kufi Arabic, Noto Sans JP,
  sans-serif;
$sub-text-font-family: Figtree, Roboto, Rubik, Noto Kufi Arabic, Noto Sans JP,
  sans-serif;
